**/.DS_Store
/input
/build
/dist
/public/build
/scrap
/node_modules
sftp-config.json
/data
*.ignore
*.local
.git-*
/*.local.sh

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity
